<!DOCTYPE html>

<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href="assets/fonts/font-awesome.css" rel="stylesheet"
	type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"
	type="text/css">
<link rel="stylesheet" href="assets/css/bootstrap-select.min.css"
	type="text/css">
<link rel="stylesheet" href="assets/css/dropzone.css" type="text/css">
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<link rel="stylesheet" href="assets/css/user.style.css" type="text/css">


<title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload=""
	class="page-subpage page-profile navigation-top-header" id="page-top">

	<!-- Outer Wrapper-->
	<div id="outer-wrapper">
		<!-- Inner Wrapper -->
		<div id="inner-wrapper">

			<!-- Page Canvas-->
			<div id="page-canvas">


				<!--Sub Header-->
				<section class="sub-header">
					<div class="search-bar horizontal collapse"
						id="redefine-search-form"></div>
					<!-- /.search-bar -->
					<div class="breadcrumb-wrapper">
						<div class="container">
							<div class="redefine-search">
								<a href="#redefine-search-form" class="inner"
									data-toggle="collapse" aria-expanded="false"
									aria-controls="redefine-search-form"> <span class="icon"></span>
									<span>Redefine Search</span>
								</a>
							</div>
							<ol class="breadcrumb">
								<li><a href="index-directory.html"><i
										class="fa fa-home"></i></a></li>
								<li><a href="#">Page</a></li>
								<li class="active">Detail</li>
							</ol>
							<!-- /.breadcrumb-->
						</div>
						<!-- /.container-->
					</div>
					<!-- /.breadcrumb-wrapper-->
				</section>
				<!--end Sub Header-->

				<!--Page Content-->
				<div id="page-content">
					<section class="container">
						<header>
							<ul class="nav nav-pills">
								<li class="active"><a href="profile.html"><h1
											class="page-title">유저 이름 넣어</h1></a></li>
								<li><a href="my-items.html"><h1 class="page-title">심부름
											요청 및 수행 내역</h1></a></li>
							</ul>
						</header>
						<div class="row">
							<div class="col-md-9">
								<form id="form-profile" role="form" method="post" action="?"
									enctype="multipart/form-data">
									<div class="row">
										<!--Profile Picture-->
										<div class="col-md-3 col-sm-3">
											<section>
												<h3>
													<i class="fa fa-image"></i>프로필 사진
												</h3>
												<div id="profile-picture" class="profile-picture dropzone">
													<input name="file" type="file">
													<div class="dz-default dz-message">
														<span>드래그 앤 드랍 해서 업로드하기</span>
													</div>
													<img src="assets/img/member-2.jpg" alt="">
												</div>
											</section>
										</div>
										<!--/.col-md-3-->

										<!--Contact Info-->
										<div class="col-md-9 col-sm-9">
											<section>
												<h3>
													<i class="fa fa-user"></i>개인 정보
												</h3>
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label for="name">이름</label> <input type="text"
																class="form-control" id="name" name="name" value="회원 이름">
														</div>
														<!--/.form-group-->
													</div>
													<!--/.col-md-3-->
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label for="email">Email</label> <input type="email"
																class="form-control" id="email" name="email"
																value="johndoe@example.com">
														</div>
														<!--/.form-group-->
													</div>
													<!--/.col-md-3-->
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label for="mobile">Mobile</label> <input type="text"
																class="form-control" id="mobile" name="mobile"
																pattern="\d*" value="903-675-5323"> <a href="#"><i
																class="fa fa-phone"></i> <span>핸드폰 인증하기</span></a>
														</div>
														<!--/.form-group-->
													</div>
													<!--/.col-md-3-->
													<div class="col-md-6 col-sm-6">
														<div class="form-group">
															<label for="phone">포인트</label> <input type="text"
																class="form-control" id="point" name="point"
																pattern="\d*" value="현재 포인트" disabled> <a
																href="#"><i class="fa fa-krw"></i> <span>포인트
																	충전하기</span></a>


														</div>
														<!--/.form-group-->

													</div>


													<!--/.col-md-3-->
												</div>
											</section>
											<section>
												<h3>
													<i class="fa fa-map-marker"></i>Address
												</h3>
												<div class="form-group">
													<input class="form-control" type="text" name="address"
														placeholder="address" disabled /> <br> <input
														class="form-control" type="text" name="addr"
														placeholder="상세주소" /> <a href="#"><span
														class="glyphicon glyphicon-home" style="margin: auto"></span>주소찾기</a>
												</div>
											</section>


											<section>
												<h3>
													<i class="fa fa-thumbs-up"></i>인증 심부름꾼 여부
													<p align="right">o/x</p>
												</h3>
												<div class="form-group" align="center" id="holder">
													<img
														src="${pageContext.request.contextPath}/resources/img/anonymous-icon-16523.png"
														class="img-circle" width="200" height="200">

												</div>
												<input class="form-control" type="file" name="selfImgFile"
													placeholder="picture" id="upload" />

												<p><h3>
													<i class="fa fa-info"></i>신분증의 생년월일 앞자리를 가린 후 올려주세요!

												</h3>
												</p>
												추후에 관리자가 심사 후 인증 심부름꾼으로 등록해드립니다.
											</section>
											
											


											
													<!--Reviews-->
													<section class="block" id="reviews">
												<header class="clearfix">
													<h2 class="pull-left">최근 리뷰</h2>

												</header>
												<article class="clearfix overall-rating">
													<strong class="pull-left">총 평점</strong>
													<figure class="rating big color pull-right" data-rating="4"></figure>


													<!-- /.rating -->

												</article>

												<br>
												<!-- /.overall-rating-->
												<section class="reviews">
													<article class="review">
														<figure class="author">
															<img src="assets/img/default-avatar.png" alt="">
															<div class="date">등록 시간</div>
														</figure>
														<!-- /.author-->
														<div class="wrapper">
															<h5>회원 ID</h5>
															<figure class="rating big color" data-rating="4"></figure>
															<p>#친절함 #빠름 #응응</p>
															<div class="individual-rating">
																<span>신속도</span>
																<figure class="rating" data-rating="4"></figure>
															</div>
															<!-- /.user-rating -->
															<div class="individual-rating">
																<span>정확도</span>
																<figure class="rating" data-rating="4"></figure>
															</div>

															<div class="individual-rating">
																<span>친절도</span>
																<figure class="rating" data-rating="4"></figure>
															</div>
															<!-- /.user-rating -->
														</div>
														<!-- /.wrapper-->
													</article>
													<!-- /.review -->

													<!-- /.review -->
												</section>
												<!-- /.reviews-->
											</section>
											<!-- /#reviews -->
											<!--end Reviews-->

											<!-- 페이지네이션 -->
											
											
												<ul class="pager">
												<li><a href="#">Previous</a></li>
												<li><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">Next</a></li>
											</ul>

											<!-- 페이지네이션 종료 -->

											<div class="form-group">
												<button type="submit" class="btn btn-large btn-default"
													id="submit">Save Changes</button>
											</div>
											<!-- /.form-group -->
										</div>
										<!--/.col-md-6-->
									</div>
								</form>
							</div>
							<!--Password-->
							<div class="col-md-3 col-sm-9">
								<h3>
									<i class="fa fa-asterisk"></i>비밀번호 변경
								</h3>
								<form class="framed" id="form-password" role="form"
									method="post" action="?">
									<div class="form-group">
										<label for="current-password">현재 비밀번호</label> <input
											type="password" class="form-control" id="current-password"
											name="current-password">
									</div>
									<!--/.form-group-->
									<div class="form-group">
										<label for="new-password">새로운 비밀번호</label> <input
											type="password" class="form-control" id="new-password"
											name="new-password">
									</div>
									<!--/.form-group-->
									<div class="form-group">
										<label for="confirm-new-password">새로운 비밀번호 재입력</label>
										<input type="password" class="form-control"
											id="confirm-new-password" name="confirm-new-password">
									</div>
									<!--/.form-group-->
									<div class="form-group">
										<button type="submit" class="btn btn-default">비밀번호 변경</button>
									</div>
									<!-- /.form-group -->
								</form>
							</div>
							<!-- /.col-md-3-->
						</div>
					</section>
				</div>
				<!-- end Page Content-->
			</div>
			<!-- end Page Canvas-->
			
		</div>
		<!-- end Inner Wrapper -->
	</div>
	<!-- end Outer Wrapper-->

	<script type="text/javascript" src="assets/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="assets/js/before.load.js"></script>
	<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.hotkeys.js"></script>
	<script type="text/javascript" src="assets/js/dropzone.min.js"></script>
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<script type="text/javascript" src="assets/js/maps.js"></script>


	<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>