

.icon-feature {
  text-align:center;
}

.icon-feature .fa {
  font-size:60px;
}

section.features {
  background-color:#474747;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:0px 0;
}


