<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/user.style.css" type="text/css">

    <title>Spotter - Universal Directory Listing HTML Template</title>

</head>

<body onunload="" class="page-subpage page-terms-conditions navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
      
        <!-- Page Canvas-->
        <div id="page-canvas">
           
       
            <!--Page Content-->
            <div id="page-content">
                <section class="container">
                    <div class="row">
                        <!--Content-->
                        <div class="col-md-9">
                            <header>
                                <h1 class="page-title">Terms & Conditions</h1>
                            </header>
                            <section>
                                <h2>Overview</h2>
                                <p>
                                    Morbi gravida justo metus, ac bibendum velit mattis ut. In hac habitasse platea dictumst. Aenean nulla libero, rutrum eget mi elementum, sodales viverra orci. Cras consequat quam eget dapibus tincidunt. Sed sed vehicula neque, blandit venenatis tortor. Ut in velit pharetra, cursus turpis a, lacinia velit. Nullam nec eros non velit convallis placerat ac nec quam. Maecenas nisi lacus, congue eu nunc sit amet, luctus mollis neque. Proin quis mauris sit amet ipsum bibendum ornare. Proin facilisis nisi id nibh vehicula, nec convallis felis cursus. Donec sed est fringilla, tristique metus non, sodales nisl.
                                </p>
                                <p>
                                    Fusce sagittis eros non ligula tempus, hendrerit dapibus orci rutrum. Quisque tincidunt augue metus, id eleifend tortor venenatis tempus. Cras quis massa orci. Vivamus tincidunt tellus nisi, eget tincidunt neque malesuada eget. Quisque eu nulla quis nulla iaculis placerat sit amet eget est. Phasellus eu magna dapibus, eleifend neque vitae, tempor sem. Praesent bibendum lectus at libero sodales facilisis ac et tellus. Pellentesque laoreet lacus in adipiscing iaculis.
                                </p>
                            </section>
                            <hr>
                            <section>
                                <h2>Section 1 - Store Terms</h2>
                                <p>
                                    Morbi gravida justo metus, ac bibendum velit mattis ut. In hac habitasse platea dictumst. Aenean nulla libero, rutrum eget mi elementum, sodales viverra orci. Cras consequat quam eget dapibus tincidunt. Sed sed vehicula neque, blandit venenatis tortor. Ut in velit pharetra, cursus turpis a, lacinia velit. Nullam nec eros non velit convallis placerat ac nec quam. Maecenas nisi lacus, congue eu nunc sit amet, luctus mollis neque. Proin quis mauris sit amet ipsum bibendum ornare. Proin facilisis nisi id nibh vehicula, nec convallis felis cursus. Donec sed est fringilla, tristique metus non, sodales nisl.
                                </p>
                                <p>
                                    Fusce sagittis eros non ligula tempus, hendrerit dapibus orci rutrum. Quisque tincidunt augue metus, id eleifend tortor venenatis tempus. Cras quis massa orci. Vivamus tincidunt tellus nisi, eget tincidunt neque malesuada eget. Quisque eu nulla quis nulla iaculis placerat sit amet eget est. Phasellus eu magna dapibus, eleifend neque vitae, tempor sem.
                                </p>
                                <p>
                                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id neque feugiat ligula tristique gravida at a orci. Suspendisse iaculis sagittis neque id pharetra. Nunc blandit urna mi, quis egestas lectus vulputate at. Ut elementum, neque eget tristique consectetur, purus tortor viverra orci, id faucibus libero justo eget ligula. Duis tristique nibh erat. Ut mauris tellus, blandit eu felis non, sagittis posuere massa.
                                </p>
                            </section>
                            <hr>
                            <section>
                                <h2>Section 2 - General Conditions</h2>
                                <p>
                                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id neque feugiat ligula tristique gravida at a orci. Suspendisse iaculis sagittis neque id pharetra. Nunc blandit urna mi, quis egestas lectus vulputate at. Ut elementum, neque eget tristique consectetur, purus tortor viverra orci, id faucibus libero justo eget ligula. Duis tristique nibh erat. Ut mauris tellus, blandit eu felis non, sagittis posuere massa.
                                </p>
                                <p>
                                    Fusce sagittis eros non ligula tempus, hendrerit dapibus orci rutrum. Quisque tincidunt augue metus, id eleifend tortor venenatis tempus. Cras quis massa orci. Vivamus tincidunt tellus nisi, eget tincidunt neque malesuada eget. Quisque eu nulla quis nulla iaculis placerat sit amet eget est. Phasellus eu magna dapibus, eleifend neque vitae, tempor sem.
                                </p>
                                <p>
                                    Morbi gravida justo metus, ac bibendum velit mattis ut. In hac habitasse platea dictumst. Aenean nulla libero, rutrum eget mi elementum, sodales viverra orci. Cras consequat quam eget dapibus tincidunt. Sed sed vehicula neque, blandit venenatis tortor. Ut in velit pharetra, cursus turpis a, lacinia velit.
                                </p>
                            </section>
                        </div>
                       
            </div>
            <!-- end Page Content-->
        </div>
       
    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/before.load.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>