<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.pointMapper">
	<!-- Point DTO -->
	<resultMap type="pointDTO" id="pointSelectMap">
		<result column="current_point" property="currentPoint" />
		<result column="request_point" property="requestPoint" />
		<association property="user" javaType="memberDTO">
			<id column="member_id" property="userId" />
		</association>
	</resultMap>
	
	<!-- 무통장 입금 신청 리스트(전환 안된 리스트만) -->
	<select id="selectAll" resultMap="pointSelectMap">
		select 
		current_point,request_point,member_id 
		from point 
		where request_point != 0
	</select> 
	
	<!-- 포인트로 전환해주기 -->
	<update id="changePoint" parameterType="String">
	    update point set request_point = 0, current_point=request_point + current_point
	     where member_id=#{value}
	</update>
	
	<!-- 입금안되서 요청포인트 0으로 만들기 -->
	<update id="pointCancel" parameterType="String">
	    update point set request_point = 0
	     where member_id=#{value}
	</update>
	
	<!-- 페이징 -->
	<select id="countPointList" resultType="int">
		select count(*) from point
	</select>
	
	<!-- 선택한 유저 리퀘스트 포인트 가져오기 -->
	<select id="getRequestPoint" parameterType="string" resultType="int">
		select REQUEST_POINT from POINT where MEMBER_ID = #{value}
	</select>
</mapper>